#app {
    font-family: Source Han Sans CN, " Avenir", Microsoft YaHei;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;

}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 7.5rem;
}

div {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    box-sizing: border-box;
    display: block;
}

p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: #333333;
}

.line-clamp2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}

section {
    box-sizing: border-box;
    padding-top: 0.92rem;
}